@page "/fileOpen"
@using Microsoft.AspNetCore.Http
@using System.IO;
@namespace FileManager.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string fileType = "video";

    bool fileOk = false;
    var Requset = HttpContext.Request.Query;
    fileOk = Requset.TryGetValue("File", out var file);
    //FileStream fs = new FileStream(file, FileMode.Open);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File - </title>
    <base href="~/" />
    <link href="/assets/css/bootstrap4.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/Video.css" rel="stylesheet">
    <link href="/assets/js/Video.js" rel="stylesheet">
</head>
<body>
    <main class="page lanidng-page">
        <section style="padding:10px;">
            <video controls autoplay name="media"></video>
            <br />
            <input type="file" name="file" id="fileItem" onchange="onChange()">
            <input type="submit" value="Play">
            <script type="text/javascript">
                var URL = window.URL || window.webkitURL;

                //var video = document.getElementsByTagName('video')[0];
                function onChange() {
                    var files = fileItem.files;
                    var file = files[0];
                    var ms = new MediaSource();
                    var url = URL.createObjectURL(file);
                    console.log(url);
                    window.open(url, "_blank");

                    //video.src = url;
                    //video.load();
                    //video.onloadeddata = function () {
                    //    video.play();
                    //}
                }
                //"file:///E:\Music\4KD\DHARIA%20-%20August%20Diaries%20(by%20Monoir)%20[Official%20Video].mp4"
                function OpeN() {
                    window.open("file:///D:\Blazor%20FileManager%20Overview%20Example%20-%20Syncfusion%20Demos.html");
                }
            </script>
            <input type="button" value="open" onclick="OpeN()">
        </section>
    </main>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>


